@viewport {
  width: device-width;
  zoom: 1;
}

body {
  font-family: Helvetica, sans-serif;
  background-color: #82bb5d;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin: 0px;
}

.tab-content {
  display: none;
}

header {
  flex: 1 100%;
  padding: 1em;
  margin-bottom: 1em;
  background-color: #447784;
}

#blogtitle {
  margin: 0.5em auto;
  font-size: 3em;
}

ul {
  padding: 0px;
}

li {
  display: inline;
  list-style-type: none;
  font-size: 1.2em;
  margin-right: 0.4em;
}

.icon-menu {
  display: none;
}

@media screen and (max-width: 500px) {
  .icon-menu {
    display: block;
  }

  li {
    display: block;
    margin-top: 0.5em;
  }
}

a {
  text-decoration: none;
  color: #74276D;
}

a:hover {
  color: #550D4F;
}

select {
  width: 25em;
  margin-bottom: 1em;
}

main {
  width: 90%;
}

.post {
  background-color: #ffd4aa;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

.title {
  margin-top: 0px;
  font-size: 1.5em;
}

.author, .category {
  font-style: italic;
}
