body {
  font-family: Helvetica, sans-serif;
  background-color: #82bb5d;
  display: flex;
  flex-flow: row wrap;
  margin: 0px;
}

.tab-content {
  display: none;
}

header {
  flex: 1 100%;
  padding: 20px;
  margin-bottom: 30px;
  background-color: #447784;
}

#blogtitle {
  margin: 10px auto;
  font-size: 3em;
}

nav {
  display: flex;
  flex-direction: column;
}

.tab {
  height: 50px;
  padding-left: 20px;
}

a {
  text-decoration: none;
}

select {
  width: 200px;
}

main {
  margin-left: 30px;
  margin-right: 30px;
  max-width: 950px;
}

.post {
  background-color: #ffd4aa;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
}


.title {
  margin-top: 0px;
  font-size: 1.5em;
}

.author, .category {
  font-style: italic;
}
