/**** BASE RULES ****/

body {
  font-family: Helvetica, sans-serif;
  background-color: #82bb5d;
  margin: 0px;
}

header {
  padding: 1em;
  margin-bottom: 1em;
  background-color: #447784;
}

main {
  width: 90%;
  margin-bottom: 1em;
}

ul {
  padding: 0px;
}

li {
  font-size: 1.2em;
  margin-right: 0.4em;
  margin-top: 0.5em;
}

a {
  text-decoration: none;
  color: #74276D;
}

select {
  width: 15em;
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

.title {
  margin-top: 0px;
  font-size: 1.5em;
}

.byline {
  font-style: italic;
}

input {
  background-image: none;
}

/**** LAYOUT RULES ****/

body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

header {
  flex: 1 100%;
}

.formelem {
  margin-bottom: 0.5em;
  width: 100%;
}

textarea {
  box-sizing: border-box;
  width: 90%;
  height: 10em;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}


/**** MODULE RULES ****/

#blogtitle {
  margin: 0.5em auto;
  font-size: 3em;
}

.tab-content {
  display: none;
}

.post {
  background-color: #ffd4aa;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}

li {
  list-style-type: none;
}

/**** THEME RULES ****/


/**** STATE RULES ****/

li {
  display: block;
}

.icon-menu {
  display: block;
}

@media screen and (min-width: 500px) {
  .icon-menu {
    display: none;
  }

  li {
    display: inline;
  }

  textarea {
    width: 20em;
  }
}

a:hover {
  color: #550D4F;
}
